{% extends 'base.html' %}
{% block content %}
  <div class="d-flex justify-content-between mb-4 align-items-center">
    <h1>All users</h1>
    <a href="/adminka/user/create" class="btn btn-success">Create user</a>
  </div>
  <div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="/adminka/user/{{ user.id }}">
              {{ user.id }}
            </a>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
